.navbar{
    color: green;
}
.logo
{
    height: 1%;
    width: 15%;
}
.brand{
    width:63%;
    /* height: 1%; */
}
/* .Nav_signup{
    padding-left: 250px;
    padding-right: 100px;
} */
.Cart{
    height: 55px;
    width: 50px;
    position: absolute;
    top: 10%;
}
.search{
   margin-left: -200%;
   width: 200%;
}
.Nav_signup{
    margin-right: 20%;
}
.search_btn{
    left: 61%;
    position: absolute;    
    top: 24%;
    height: 50%;
    width: 40px;
    border: none;
    background-color: transparent;
}
.search_icon{
    height: 100%;
    /* width: 50%; */
}