.Navbar{
    color: green;
}
.logo
{
    height: 1%;
    width: 15%;
}
.brand{
    width:63%;
}
.Cart{
    height: 55px;
    width: 50px;
    position: absolute;
    top: 10%;
}
.search{
   margin-left: -200%;
   width: 200%;
}
.Nav_signup{
    margin-right: 20%;
}
.search_btn{
    left: 61%;
    position: absolute;    
    top: 24%;
    height: 50%;
    width: 40px;
    border: none;
    background-color: transparent;
}
.search_icon{
    height: 100%;
}
.Cart_no
{position: relative;
    top: -18px;
    left: 16px;
color:red;
}