.navbar{
    color: green;
}
.logo
{
    height: 1%;
    width: 15%;
}
.brand{
    width:75%;
    height: 1%;
}
/* .Nav_signup{
    padding-left: 250px;
    padding-right: 100px;
} */
.Cart{
    height: 35px;
    width: 35px;
}
.search{
   margin-left: -145%;
   width: 200%;
}