
body
{
align-items: center;
justify-content: center;
}
.Product{
    width: 25%;
    height:20%;
    float: left;
}
.Product_size
{
    height: 250px;
    width: 130px;
}
.container_row{
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
}
.container_col{
    align-items: center;

}
h1{
    margin-left:45%; 
}
.discription{
    margin-left: 35%;
    /* margin-top: 10%; */
}
.card-image{
    margin-left:5% ;
    margin-bottom: 15%;
}
.modal-dialog {
    max-width: 790px;
    margin: 1.75rem auto;
}